*.*~
velox/
*.zip
*.map
bootstrap-3.3.7-dist/*
css/bootstrap.css
css/bootstrap-theme.css
css/bootstrap-theme.min.css
css/header.css
css/main.css
css/about.css
css/contact_us.css
css/portfolio.css
css/services.css
css/testimonials.css
css/variables.css
css/footer.css
js/bootstrap.js
js/npm.js
*.json
gulpfile.js
node_modules/*
fonts/glyphicons*
.idea/